<app-menu-title ></app-menu-title>
<div class="container__articles">
  <div class="main__articles">
    <app-big-card
      photoCover="https://deepgram.com/_next/image?url=https%3A%2F%2Fwww.datocms-assets.com%2F96965%2F1684215758-800x0-2.webp&w=1920&q=75"
      cardTitle="Testando"
      cardDescription="Descrição random irmão"
      >
    </app-big-card>
  </div>
  <div class="others__articles">
    <app-small-card
      photoCover="https://deepgram.com/_next/image?url=https%3A%2F%2Fwww.datocms-assets.com%2F96965%2F1684215758-800x0-2.webp&w=1920&q=75"
      cardTitle="Testando"
      >
    </app-small-card>
    <app-small-card
      photoCover="https://deepgram.com/_next/image?url=https%3A%2F%2Fwww.datocms-assets.com%2F96965%2F1684215758-800x0-2.webp&w=1920&q=75"
      cardTitle="Testando"
      >
    </app-small-card>
    <app-small-card
      photoCover="https://deepgram.com/_next/image?url=https%3A%2F%2Fwww.datocms-assets.com%2F96965%2F1684215758-800x0-2.webp&w=1920&q=75"
      cardTitle="Testando"
      >
    </app-small-card>
  </div>
</div>
